.introduction {
  margin-left: 6rem;
  margin-right: 75rem;
  text-align: left;
  white-space: nowrap;
}
.home-logo {
  position: absolute;
  top: 0rem;
  right: 11.5rem;
  width: 50rem;
  object-fit: cover; /* Asegura que la imagen se recorte bien dentro del contenedor */
  justify-content: left;
  z-index: 2;
}
.home-logo-shadow {
  position: absolute;
  top: 0.5rem;
  right: 11rem;
  width: 50rem;
  object-fit: cover; /* Asegura que la imagen se recorte bien dentro del contenedor */
  justify-content: left;
  z-index: 1;
}
.logo-line {
  margin-top: 1.25rem;
  margin-left: 6rem;
  width: 15rem; /* Ancho completo del contenedor */
  height: 0.5rem; /* Altura de la línea */
  border-radius: 10rem;
}
.dark-mode .logo-line {
  background-color: #7fff00;
}
.light-mode .logo-line {
  background-color: #F4A261;
}
.presentation {
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 75rem;
  text-align: left;
  line-height: 1.5;
  font-size: 1rem;
}
.dark-mode .presentation {
  color: #8da3af;
}
.light-mode .presentation {
  color: #556269;
}
.section {
  margin-left: 6rem;
  margin-right: 6rem;
  white-space: nowrap;
  font-family: 'Oswald';
  font-size: 3rem;
}
.section-line {
  margin-left: 6rem;
  width: 7.5rem; /* Ancho completo del contenedor */
  height: 0.4rem; /* Altura de la línea */
  border-radius: 10rem;
}
.dark-mode .section-line {
  background-color: #7fff00;
}
.light-mode .section-line {
  background-color: #F4A261;
}
.timeline {
  position: relative;
  width: 100%;
  height: 43.75rem;
  max-width: 46.875rem; /* 600px convertido a rem */
  margin: 0 auto;
}
/* Línea central */
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%; /* Alinea la línea central al 50% */
  transform: translateX(-50%); /* Centra la línea */
  width: 0.3125rem; /* 4px convertido a rem */
  height: 31.25rem;
  margin-top: 0.375rem;
}
.dark-mode .timeline::before {
  background-color: #8da3af;
}
.light-mode .timeline::before {
  background-color: #556269;
}
/* Company */
.company {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 25rem;
  gap: 1.25rem;
}

/* Punto grande (empresa) */
.company-point {
  position: absolute;
  top: 0%; /* Ajustado al centro vertical */
  left: 50%; /* Centrado en el eje horizontal */
  width: 1.25rem; /* Tamaño del punto */
  height: 1.25rem; /* Tamaño del punto */
  border-radius: 50%; /* Forma circular */
  transform: translate(-50%, -50%); /* Ajuste del punto para que se centre correctamente */
}
.dark-mode .company-point  {
  background-color: #7fff00;
}
.light-mode .company-point  {
  background-color: #F4A261;
}
.company-text {
  display: flex;
  position: absolute;
  top: 0%; /* Alineación vertical */
  left: calc(50% + 1.375rem); /* Coloca el texto a la derecha del punto */
  transform: translateY(-50%); /* Ajusta la alineación vertical */
  font-family: 'Oswald', sans-serif;
  font-size: 1.875rem;
}
.dark-mode .company-text  {
  color: #7fff00;
}
.light-mode .company-text  {
  color: #F4A261;
}
.company-time {
  display: flex;
  position: absolute;
  top: 1.75rem; /* Alineación vertical */
  left: calc(50% + 1.375rem); /* Coloca el texto a la derecha del punto */
  transform: translateY(-50%); /* Ajusta la alineación vertical */
  font-size: 0.9375rem;
}
.company-location {
  display: flex;
  position: absolute;
  top: 3rem; /* Alineación vertical */
  left: calc(50% + 1.375rem); /* Coloca el texto a la derecha del punto */
  transform: translateY(-50%); /* Ajusta la alineación vertical */
  font-size: 0.9375rem;
}
.dark-mode .company-location {
  color: #8da3af;
}
.light-mode .company-location {
  color: #556269;
}
/* Subpuntos (puestos) */
.positions {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 12.5rem;
  position: relative;
}
.position-point {
  position: absolute;
  top: 0%; /* Ajustado al centro vertical */
  left: 50%; /* Centrado en el eje horizontal */
  width: 0.75rem; /* Tamaño del punto */
  height: 0.75rem; /* Tamaño del punto */
  border-radius: 50%; /* Forma circular */
  transform: translate(-50%, -50%); /* Ajuste del punto para que se centre correctamente */
}
.dark-mode .position-point  {
  background-color: #ffffff;
}
.light-mode .position-point  {
  background-color: #000000;
}
.position-text {
  white-space: nowrap;
  display: flex;
  position: absolute;
  top: 0%; /* Alineación vertical */
  left: calc(50% + 1.375rem); /* Coloca el texto a la derecha del punto */
  transform: translateY(-50%); /* Ajusta la alineación vertical */
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
}
.position-time {
  display: flex;
  position: absolute;
  top: 1.5rem; /* Alineación vertical */
  left: calc(50% + 1.375rem); /* Coloca el texto a la derecha del punto */
  transform: translateY(-50%); /* Ajusta la alineación vertical */
  font-size: 0.9375rem;
}
.position-location {
  display: flex;
  position: absolute;
  top: 2.75rem; /* Alineación vertical */
  left: calc(50% + 1.375rem); /* Coloca el texto a la derecha del punto */
  transform: translateY(-50%); /* Ajusta la alineación vertical */
  font-size: 0.9375rem;
}
.dark-mode .position-location {
  color: #8da3af;
}
.light-mode .position-location {
  color: #556269;
}
.position-description {
  display: flex;
  position: absolute;
  top: 4rem; /* Alineación vertical */
  left: calc(50% + 1.375rem); /* Coloca el texto a la derecha del punto */
  font-size: 0.9375rem;
}
.position-tools {
  display: flex;
  position: absolute;
  margin-right: 3.75rem;
  justify-content: flex-end;
  top: 1.25rem; /* Alineación vertical */
  left: calc(50% - 1.375rem); /* Coloca el texto a la derecha del punto */
  transform: translate(-100%, 0%); /* Ajusta la alineación vertical */
  font-size: 0.9375rem;
  flex-wrap: wrap;
}
.position-tools a:visited,
.position-tools a:link {
  text-decoration: none; /* Elimina subrayado en enlaces normales */
  color: inherit; /* Hereda el color del div */
}
.tag-helm { color: #353a99; } /* Azul oscuro, representativo de Helm */
.tag-jenkins { color: #D24939; } /* Rojo Jenkins */
.tag-openshift { color: #EE0000; } /* Rojo característico de OpenShift */
.tag-actions { color: #6c63ff; } /* Gris oscuro de GitHub */
.tag-ansible { color: #EE0000; } /* Rojo representativo de Ansible */
.tag-ctrlm { color: #FF9E0F; } /* Naranja vibrante de BMC Control-M */
.tag-docker { color: #2496ED; } /* Azul oficial de Docker */
.tag-terraform { color: #5C4EE5; } /* Púrpura distintivo de Terraform */
.tag-aws { color: #FF9900; } /* Naranja oficial de AWS */
.tag-gitlab { color: #FC6D26; } /* Naranja GitLab */
.tag-oneview { color: #00A5A5; } /* Verde azulado de HPE OneView */
.tag-3par { color: #FFCC00; } /* Amarillo vibrante de HPE 3PAR */
.tag-vmware { color: #607078; } /* Azul grisáceo de VMware vSphere */
.tag-nagios { color: #214366; } /* Azul oscuro de Nagios */
[class^="tag-"] {
  text-decoration: none;
  display: flex;
  position: relative;
  cursor: pointer;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 5%;
  font-size: 1.0625rem;
  white-space: nowrap;
}
.dark-mode [class^="tag-"] {
  border: 0.15rem solid #8da3af;
}
.light-mode [class^="tag-"] {
  border: 0.15rem solid #556269;
}
.position-3 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 12.5rem;
  gap: 1.25rem;
}
.position-2 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 12.5rem;
  width: 100%;
  height: 12.5rem;
  gap: 1.25rem;
}
.position-1 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25rem;
  width: 100%;
  height: 12.5rem;
  gap: 1.25rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: #2f3643;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
}
.about-me-mix {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.about-me-image {
 width: 15%;
 border-radius: 50%;
}
.about-me-text {
 width: 85%;
}
.other-notable-work {
  display: flex;
  flex-direction: column;
  padding-bottom: 4.5rem;
}
.other-notable-work-mix {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.other-notable-work-mix footer{
  margin-bottom: 1rem;
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #000000;
  background-color: #7fff00;
  border-radius: 5%;
  font-family: 'Oswald';
}
.other-notable-work-mix a{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.other-notable-work-labs-container {
  display: flex;
  flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
  align-items: center;    /* Centra horizontalmente los hijos */
  justify-content: center; /* Centra verticalmente si el contenedor tiene más altura */
  margin-left: 15rem;         /* Centra el contenedor en su padre */
  width: 30%;
  background-color: #2f3643;
  padding-top: 1.5rem;
  border-radius: 1%;
  position: relative; /* Necesario para aplicar el efecto de desplazamiento */
  transition: transform 0.3s ease; /* Transición para el desplazamiento */
}
.other-notable-work-labs-container:hover {
  transform: translateY(-1rem); /* Mueve el contenedor hacia arriba al pasar el ratón */
  cursor: pointer;
  background-color: #424657; /* Nuevo color de fondo al pasar el ratón */
}
.other-notable-work-labs-image {
  width: 90%;
  border-radius: 1%;
  filter: grayscale(100%); /* Blanco y negro por defecto */
  transition: filter 0.3s ease; /* Transición para la restauración del color */
}
.other-notable-work-labs-container:hover .other-notable-work-labs-image {
  filter: grayscale(0%); /* Restaura el color cuando se pasa el ratón sobre el contenedor */
}
 .other-notable-work-labs-text {
  width: 90%;
  padding-bottom: 1.5rem;
  color: #8da3af;
 }
 .other-notable-work-labs-text h3 {
  font-family: 'Oswald';
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
 }
 .other-notable-work-collaborations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 15rem;
  width: 30%;
  background-color: #2f3643;
  padding-top: 1.5rem;
  border-radius: 1%;
  position: relative; /* Necesario para aplicar el efecto de desplazamiento */
  transition: transform 0.3s ease; /* Transición para el desplazamiento */
}
.other-notable-work-collaborations-container:hover {
  transform: translateY(-1rem); /* Mueve el contenedor hacia arriba al pasar el ratón */
  cursor: pointer;
  background-color: #424657; /* Nuevo color de fondo al pasar el ratón */
}
.other-notable-work-collaborations-image {
  width: 90%;
  border-radius: 1%;
  filter: grayscale(100%); /* Blanco y negro por defecto */
  transition: filter 0.3s ease; /* Transición para la restauración del color */
}
.other-notable-work-collaborations-container:hover .other-notable-work-collaborations-image {
  filter: grayscale(0%); /* Restaura el color cuando se pasa el ratón sobre el contenedor */
}
 .other-notable-work-collaborations-text {
  width: 90%;
  padding-bottom: 1.5rem;
  color: #8da3af;
 }
 .other-notable-work-collaborations-text h3 {
  font-family: 'Oswald';
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
 }
 .contact-me {
  display: flex;
  flex-direction: column;
  background-color: #2f3643;
  padding-bottom: 3rem;
  padding-top: 1.5rem;
}
.contact-me-mix {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.contact-me-container {
  position: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
  font-size: 1rem;
  color: #8da3af;
}
.contact-me-text {
  width: 100%;
 }
 .contact-me-text strong {
  color: #ffffff; /* Color para el texto dentro de <strong> */
}
.contact-me-linkedin {
  width: 100%;
  margin-top: 1rem;
}
.image-container {
  position: relative;
  width: 100%; /* Ajusta el tamaño según tu necesidad */
  height: 10rem; /* Ajusta el tamaño según tu necesidad */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  overflow: hidden; /* Recorta la imagen fuera del contenedor */
}
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que la imagen cubra todo el contenedor sin deformarse */
  clip-path: inset(0 0 0 65%); /* Recorta la imagen por el lado izquierdo */
  transform: translateX(-30%); /* Inicialmente mueve la imagen un poco a la izquierda */
  transition: transform 0.5s ease-in-out, clip-path 0.5s ease-in-out; /* Transición suave para el hover */
}
.image-container:hover img {
  clip-path: inset(0 0 0 0); /* Elimina el recorte al pasar el ratón */
  transform: translateX(0);
}
.contact-me-form {
  width: 60%;
  background-color: #252734;
}
#contact-me-form {
  display: flex;
  flex-direction: column; /* Apilar los elementos verticalmente */
  width: 60%;
  gap: 1rem; /* Espacio entre los elementos del formulario */
  font-family: 'Oswald';
}
#contact-me-form input[type="text"],
#contact-me-form input[type="email"],
#contact-me-form textarea {
  font-family: 'Inconsolata';
    width: 100%; /* Asegura que los campos ocupen el 100% del ancho del formulario */
    padding: 1rem;
    border: 0.1rem solid #7fff00;
    border-radius: 1%;
    font-size: 1rem;
    background-color: #252734;
    color: white;
    resize: none;
}
#contact-me-form textarea {
  height: 10rem;
}
/* Estilo para el botón */
#contact-me-form button {
  margin-top: 0.5rem;
  font-family: 'Oswald';
  border: none;
  border-radius: 1%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #7fff00;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5rem;
}
/* Hover para el botón */
#contact-me-form button:hover {
    background-color: #59cc00;
}

/*dark-mode color: #8da3af*/
/*light-mode color: #556269*/
/*contact-me: #1a1f26*/